/* Client brand colors
 * This file contains all global client brand colors
*/

$clientBgColor: #fff;
$clientTextColor:  #333;
$clientLinksColor:  #1195de;
$clientNavLinks: #fff;

//$clientLightGrey: #eeeded;
//$clientMediumGrey: #979797;
//$clientDarkGrey: #61646e;